* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root {
  --beige: hsl(40, 33%, 93%);
  --navy: hsl(222, 39%, 21%);
  --lite-navy: hsl(222, 30%, 35%);
  --gold: hsl(46, 60%, 52%);
  --text-primary: hsl(225, 25%, 15%);
  --text-secondary: hsl(225, 15%, 50%);
  --card: hsl(40, 30%, 96%);
  --card-opacity: hsla(40, 30%, 96%, 0.75);
  --bill: hsl(0, 50%, 45%);
  --bill-hover: hsl(0, 50%, 50%);

  --radius: 0.75rem;
  --transition: all 0.2s ease-in-out;
}

body {
  background: var(--beige);
  color: var(--white);
  margin: 50px 0;
}

input {
  height: 36px;
  padding: 4px;
}

/* App component */

header {
  margin: 0 auto;
  width: 90%;
  padding-bottom: 40px;
}

/* Nav component */

.nav-container {
  display: flex;
  justify-content: center;
  background: var(--lite-navy);
  border-radius: 0.75rem 0.75rem 0 0;
}

.nav-links {
  font-size: 18px;
  color: var(--beige);
  text-decoration: none;
  padding: 20px 100px;
  border-radius: 0.75rem 0.75rem 0 0;
}

.nav-links.active {
  background: var(--navy);
  font-weight: 700;
}

/* Calendar component */

.calendar-container {
  background: var(--card);
  border-radius: var(--radius);
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.calendar-header {
  background: var(--navy);
  color: var(--beige);
  border-radius: var(--radius);
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 40px auto;
  padding: 1rem 2rem;
}

.month-name {
  font-size: 32px;
}

.calendar-body {
  display: grid;
  gap: 3px;
  grid-template-columns: repeat(7, 1fr);
  border-top: 1px solid var(--lite-navy);
  background: var(--beige);
}

.weekday {
  font-size: 24px;
  font-weight: 500;
}

.calendar-day {
  background: var(--card);
  border: 1px solid var(--navy);
  border-radius: var(--radius);
  text-align: right;
  height: 200px;
  padding: 0.75rem;
  font-weight: 700;
  font-size: 20px;
}

.events-container {
  width: 100%;
  max-height: 90%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.not-current-month {
  color: var(--text-secondary);
  font-weight: 500;
}

.today {
  background: var(--gold);
  color: var(--text-primary);
  font-weight: 700;
  border: 2px solid var(--navy);
}

.event-bill {
  background: var(--bill);
  border-radius: var(--radius);
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 5px;
  font-size: 16px;
}

.event-bill:hover {
  cursor: pointer;
  background: var(--lite-navy);
  color: var(--card);
  transition: var(--transition);
}

/* Calendar Details component */

.calendar-details-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--card-opacity);
  display: flex;
  flex-direction: center;
  align-items: center;
  z-index: 1000;
}

.calendar-details-content {
  position: relative;
  margin: 0 auto;
  background: var(--beige);
  border-radius: var(--radius);
  width: 50%;
  height: 50%;
}

.close-modal-btn {
  position: absolute;
  right: 10px;
  top: 10px;
}

.calendar-details-info {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--text-primary);
  font-size: 18px;
  gap: 5px;
}

/* Bills component */

.bills-container {
  width: 100%;
}

.bills-header,
.bills-body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.bills-header p {
  font-size: 24px;
  font-weight: 700;
  text-decoration: underline;
  padding-bottom: 20px;
}

/* BillForm component */

.billForm-form {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.billForm-inputs {
  display: flex;
  flex-direction: column;
}

/* Pages */

/* Homepage  */

.homepage-container {
  display: flex;
  flex-direction: column;
}

/* Billspage */

.billspage-container {
  border: 1px solid red;
  min-height: 100%;
}

.billspage-content {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  justify-content: center;
}

/* buttons */

.btn {
  background: var(--lite-navy);
  color: var(--beige);
  padding: 10px;
  border-radius: var(--radius);
  border: none;
  transition: var(--transition);
}

.btn:hover {
  cursor: pointer;
  background: var(--gold);
  color: var(--text-primary);
}

.btn:active {
  transform: scale(0.97);
}
