* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.calendar-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.calendar-header {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 0 auto;
}

.calendar-body {
  display: grid;
  gap: 3px;
  grid-template-columns: repeat(7, 1fr);
}

.calendar-day {
  border: 1px solid black;
  background: grey;
  border-radius: 5px;
  height: 100px;
}

.calendar-day:hover{
  cursor: pointer;
  opacity: .5;
}

.not-current-month {
  background: beige;
}

.today{
  background: aqua;
}